* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "architects";
  src: url("../fonts/architects.ttf") format("truetype");
}
 
body {
  font-family: "architects", sans-serif;

}

body::before{
  content: "";

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  background-image: url('../images/gradient-grainy-texture.jpg');  
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.normalFont{
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #472E2A;
  border-radius: 5px;
  border: 2px solid white;
}

html {
  scroll-behavior: smooth;
}
 
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
 
.tokenContainer{
  background: linear-gradient(180deg, #A38CD2 0%, #EDB9E7 100%);

}


.float_animation {
  animation: float 7s ease-in-out infinite;
  -webkit-animation: float 7s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-1vw);
    -webkit-transform: translateY(-1vw);
    -moz-transform: translateY(-1vw);
    -ms-transform: translateY(-1vw);
    -o-transform: translateY(-1vw);
  }
  70% {
    transform: translateY(1vw);
    -webkit-transform: translateY(1vw);
    -moz-transform: translateY(1vw);
    -ms-transform: translateY(1vw);
    -o-transform: translateY(1vw);
  }
}

.zoomIn_animation {
  animation: zoomIn_animation 5s ease-in-out infinite;
  -webkit-animation: zoomIn_animation 5s ease-in-out infinite;
}

@keyframes zoomIn_animation {
  0%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.rotateImg{
  animation: rotateImg 1s ease-in-out infinite;
  -webkit-animation: rotateImg 1s ease-in-out infinite;
}

@keyframes rotateImg {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  20%{
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
  30%{
    transform: rotate(-5deg); 
}
  50%{
    transform: rotate(5deg); 
}
  60%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

}